[Containers]
Ollama = ollama
Open-WebUI = open-webui

[LLMs]
Ollama = http://127.0.0.1:8080

[StableDiffusion]
ComfyUI = http://127.0.0.1:8188
A1111 = http://127.0.0.1:7860
CivitAI = https://civitai.com

[TTS]
XTTS = http://127.0.0.1

[STS]
MoshiAI = https://us.moshi.chat/

[Settings]
ColorTheme = Dark Red
ChatGPT = False
ChatGPT_API_Key = 
Claude = False
Claude_API_Key = 
Gemini = False
Gemini_API_Key = 
Ollama = True
OllamaServer = http://127.0.0.1:11434
CPUType = AMD
GPUType = AMD

[Ollama]
